@page
@model Front_Warehouse.Models.UserViewModel

@{}

@using (Html.BeginForm(FormMethod.Post))
{
    <h2>Login</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    <label>Email</label>
    @Html.TextBoxFor(m => m.Name)
    <!-- generates: <input name="Name" ...> -->

    <label>Password</label>
    @Html.PasswordFor(m => m.Password)<!-- generates: <input name="Email" ...> -->

    <button type="submit">Register</button>
}
