@model ShelveFormViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm(FormMethod.Post))
{
    <h2>Shelve Creation</h2>
    <div>
        <label>Name</label>
        @Html.TextBoxFor(m => m.shelve.Name)
        @Html.ValidationMessageFor(m => m.shelve.Name)
        <!-- generates: <input name="Name" ...> -->
    </div>
    <div>
        <label>Warehouse</label>
        @Html.DropDownListFor(m => m.selectedWarehouse, Model.warehousesOptions, "Select a warehouse", new { @class = "form-control" })
        <!-- generates: <dropdown name="Name" ...> -->
    </div>

    <div>
        <button type="submit">Commit</button>
    </div>
}