@model List<WarehouseViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<article>
    @if (ViewBag.userRole == 2)
    {
        <section>
            <a asp-controller="Warehouse" asp-action="Create">
            <button>Create Warehouse</button>
        </a>
    </section>
    }
    <Item-Container>
        @if (Model.Count() > 0) {
            @foreach (WarehouseViewModel warehouse in Model)
            {
                @Html.Partial("Partials/WarehousePartial", warehouse)
            }
        }
        else
        {
            <h2>No warehouses found</h2>
        }
    </Item-Container>
</article>