@model List<WarehouseViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<article>
    <section>
        <a asp-controller="Warehouse" asp-action="Create">
            <button>Create Warehouse</button>
        </a>
    </section>
    <Warehouse-Container>
        @foreach (WarehouseViewModel warehouse in Model)
        {
            @Html.Partial("Partials/WarehousePartial", warehouse)
        }
    </Warehouse-Container>
</article>