@model List<DeliveryViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int warehouseId = ViewBag.WarehouseId;
}

<article>
    <section>
        <a asp-controller="delivery" asp-action="create" asp-route-WarehouseID="@warehouseId">
            <button>create delivery</button>
        </a>

    </section>
    <Item-Container>
        @if (Model.Count() > 0)
        {
            @foreach (DeliveryViewModel delivery in Model)
            {
                @Html.Partial("Partials/DeliveryPartial", delivery)
            }
        }
        else
        {
            <h2>No Delivery found</h2>
        }
        </Warehouse-Container>
</article>